<link rel="apple-touch-icon" sizes="180x180" href="/empire-penguin/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/empire-penguin/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/empire-penguin/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/empire-penguin/assets/images/favicon/site.webmanifest">
<link rel="mask-icon" href="/empire-penguin/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/empire-penguin/assets/css/sl-main.css">
<script src="/empire-penguin/assets/js/sl-main.js"></script>
<script src="/empire-penguin/assets/js/utils.js"></script>